/**
 * Colors
 */
$white: #fff;
$black: rgba(24, 24, 26, 1);
$grey: rgba(63, 64, 69, 1);
$grey2: rgba(113, 113, 121, 1);
$grey3: rgba(163, 163, 163, 0.8);
$grey4: #3F4045;
$grey5: #717179;
$grey6: #646464;
$grey7: #E0E0E0;
$greyLight: rgba(228, 228, 230, 1);
$bgBlack: #18181A;
$bgGrey: #F4F4F4;
$bgGrey2: rgba(244, 244, 244, 1);
$bgPopin: rgba(0, 0, 0, 0.4);

$green: #037957;
$green2: #3FB508;
$greenLight: #D9F0CE;
$bgGreen: #D0FAE4;
$orange: #793510;
$bgOrange: #FEF3C6;
$bgBlue: #F3F9FF;
$blue: #68B0FE;
$blue2: rgba(5, 104, 253, 1);
$blueDark: rgba(0, 29, 121, 1);
$blue3: rgba(2, 59, 182, 1);
$blueGraph: #0568FD;
$blueGraph2: #1E3B8B;
$red: rgba(228, 13, 13, 1);
$red2: #FF5B5B;
$red3: #F8DEDE;
$yellow: #FFDF6E;
$magenta: #BD123E;
$magenta-light: #FFF1F1;


/**
 * Shadow
 */
$shadowheader: 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 8px rgba(0, 0, 0, 0.04);
$shadowPopin: 0px 4px 16px rgba(0, 0, 0, 0.12), 0px 2px 8px rgba(0, 0, 0, 0.08);
$shadowPopin2: 0px 1px 4px rgba(0, 0, 0, 0.12);

/**
 * Fonts
 */
$interRegular: 'InterRegular';
$interSemiBold: 'InterSemiBold';
$goshaRegular: 'GoshaRegular';

/**
 * Breakpoints
 */
$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;
