* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    &:focus {
        outline: none;
    }
}

button {
    -webkit-appearance: none;
    outline: 0;
    text-overflow: ellipsis;
    background: transparent;
    border: none;
}


.is-hidden {
    display: none !important;
}
