.txt_body {
    // font-family: 'InterRegular';
    font-size: 14px;
    line-height: 16px;
}

.txt_title {
    font-family: 'InterSemiBold';
    font-size: 24px;
    line-height: 32px;
}

.txt_note {
    // font-family: 'InterRegular';
    font-size: 10px;
    line-height: 16px;
}

.txt_caption {
    // font-family: 'InterRegular';
    font-size: 12px;
    line-height: 16px;
}

p,h1,h2,h3,h4,h5,span {
    font-family: 'InterRegular';
}
