aside {
  background: $bgBlack;
  width: 260px;
  padding: 24px;
  min-height: calc(100vh - 64px);
  position: fixed;
  left: 0;
  top: 64px;
  height: calc(100vh - 64px);
  z-index: 999;

  .design {
    &-title {
      color: $white;
      font-family: $interSemiBold;
      margin-bottom: 5px;
    }

    &-subtitle {
      color: $grey2;
      text-decoration: underline;
    }
  }

  .groupes {
    &-title {
      color: $grey2;
      text-transform: uppercase;
      font-family: $interSemiBold;
      margin-bottom: 8px;
      margin-top: 32px;
    }

    &-items {
      .item {
        color: $white;
        font-family: $interSemiBold;
        position: relative;
        padding: 8px 8px 8px 40px;
        margin-bottom: 5px;
        display: block;

        &-soon {
          color: $grey4;

          .tag {
            border: 1px solid $grey4;
            border-radius: 6px;
            padding: 6px;
            color: $grey4;
            font-size: 9px;
            margin-left: 8px;
          }
        }

        &:before {
          content: "";
          position: absolute;
          background-image: url('~assets/img/picto-aside/dashboard.svg');
          background-size: contain;
          width: 24px;
          height: 24px;
          left: 8px;
          top: 5px;
        }

        &.is-active {
          background: rgba(39, 39, 41, 1);
          border-radius: 8px;
        }

        &.icon-issue {
          &:before {
            background-image: url('~assets/img/picto-aside/bug_report.svg');
          }
        }

        &.icon-color {
          &:before {
            background-image: url('~assets/img/picto-aside/color_lens.svg');
          }
        }

        &.icon-spacing {
          &:before {
            background-image: url('~assets/img/picto-aside/straighten.svg');
          }
        }

        &.icon-shadow {
          &:before {
            background-image: url('~assets/img/picto-aside/tonality.svg');
          }
        }
        &.icon-type {
          &:before {
            background-image: url('~assets/img/picto-aside/format_shapes.svg');
          }
        }
        &.icon-grid {
          &:before {
            background-image: url('~assets/img/picto-aside/border_all.svg');
          }
        }
        &.icon-animation {
          &:before {
            background-image: url('~assets/img/picto-aside/play_circle_filled.svg');
          }
        }
        &.icon-action {
          &:before {
            background-image: url('~assets/img/picto-aside/arrow_forward.svg');
          }
        }
        &.icon-text {
          &:before {
            background-image: url('~assets/img/picto-aside/format_size.svg');
          }
        }
      }
    }
  }
}
