header {
  background: $white;
  box-shadow: $shadowheader;
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.entreprise {
  display: flex;

  &-img {
    width: 32px;
    height: 32px;
    margin-right: 12px;
  }

  &-name {
    font-family: $interSemiBold;
    color: $black;
  }

  &-plan {
    color: $grey;
  }
}

.user {
  display: flex;
  align-items: center;

  &-infos {
    display: flex;
    align-items: center;

    &-name {
      margin-left: 8px;
    }
  }

  &-settings {
    width: 20px;
    height: 20px;
    margin-left: 10px;

    .item {
      width: 20px;
      height: 20px;
    }
  }
}
