header {
  background: $white;
  box-shadow: $shadowheader;
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}

.btn-return {
  height: 32px;
  border: 1px solid $greyLight;
  position: relative;
  padding: 10px 10px 10px 34px;
  border-radius: 8px;
  font-family: $interSemiBold;

  &:before {
    content: "";
    position: absolute;
    background-image: url('~assets/img/arrow_forward.svg');
    width: 20px;
    height: 20px;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.entreprise {
  display: flex;

  &-img {
    width: 32px;
    height: 32px;
    margin-right: 12px;
  }

  &-name {
    font-family: $interSemiBold;
    color: $black;
  }

  &-plan {
    color: $grey;
  }
}

.user {
  display: flex;
  align-items: center;

  &-infos {
    display: flex;
    align-items: center;

    &-img {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $magenta-light;
      color: $magenta;
      width: 24px;
      height: 24px;
      font-family: $interSemiBold;
      font-size: 10px;
      line-height: 16px;
      padding: 4px;
      border-radius: 4px;
    }

    &-name {
      margin-left: 8px;
    }
  }

  &-settings {
    width: 20px;
    height: 20px;
    margin-left: 10px;

    .item {
      width: 20px;
      height: 20px;
    }
  }
}
