header {
  background: $white;
  box-shadow: $shadowheader;
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}

.dropbtn {
  display: flex;
  align-items: center;
  padding: 8px 40px 8px 8px;
  position: relative;
  cursor: pointer;
  border: 1px solid #F4F4F4;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.04);
  border-radius: 8px;

  &:before {
    content: "";
    position: absolute;
    background-image: url('~assets/img/arrow.svg');
    width: 20px;
    height: 20px;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    transition: all 250ms ease;
    transform-origin: top;
  }
}

.dropdown {
  position: relative;
  display: inline-block;

  &-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
    left: 0;
    right: 0;
    background: $white;
    border: 1px solid $bgGrey;
    box-sizing: border-box;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.08);
    border-radius: 8px;

    a {
      color: $grey;
      padding: 12px 16px;
      text-decoration: none;
      display: block;

      &:hover {
        background-color: #F2F2F2;
      }
    }
  }
}

.dropdown:hover .dropdown-content {display: block;}

.btn-return {
  height: 32px;
  border: 1px solid $greyLight;
  position: relative;
  padding: 10px 10px 10px 34px;
  border-radius: 8px;
  font-family: $interSemiBold;

  &:before {
    content: "";
    position: absolute;
    background-image: url('~assets/img/arrow_forward.svg');
    width: 20px;
    height: 20px;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.entreprise {
  display: flex;

  &-img {
    width: 32px;
    height: 32px;
    margin-right: 12px;
  }

  &-name {
    font-family: $interSemiBold;
    color: $black;
  }

  &-plan {
    color: $grey;
  }
}

.user {
  display: flex;
  align-items: center;

  &-infos {
    display: flex;
    align-items: center;

    &-name {
      margin-left: 8px;
    }
  }
}
