.popin-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $bgPopin;
  z-index: 123456;

  .inline-input {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .input {
      max-width: 48%;
    }
  }

  .popin {
    background: $white;
    border-radius: 16px;
    overflow: hidden;

    .content {
      display: flex;

      &.log-in {
        .popin-bgPopin {
          background: $yellow;
        }
      }
    }

    .confirm {
      position: relative;
      padding-bottom: 20px;

      .error {
        position: absolute;
        color: $red;
        bottom: 0px;
        margin: 0 auto;
        font-size: 12px;
      }
    }

    &-contentForm {
      width: 460px;
      padding: 30px 40px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;

      &__loader {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 9999;
        background: rgba($white, 0.7);
      }

      .title {
        margin-bottom: 16px;
        font-family: $goshaRegular;
        font-size: 36px;
        line-height: 32px;
      }

      .subtitle {
        color: $grey2;
        margin-bottom: 22px;
      }

      .link {
        margin-top: 40px;

        &-item {
          color: $blue2;
        }
      }
    }

    &-bgPopin {
      width: 630px;
      padding: 100px 60px;
      background: black;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 0 16px 16px 0;
      overflow: hidden;

      .img-hidden {
        opacity: 0;
        width: 500px;
      }

      .img {
        width: 500px;
        position: absolute;
        top: 50%;
        left: 50%;
        @include transform(translate(-50%, -50%))
      }
    }
  }
}
