@import './spaces.utils';

// Set global variables
@if length($breakpoints) == length($rootSizes) {
    @each $breakpoint, $value in $breakpoints {
        $i: index(($breakpoints), ($breakpoint $value));

        :root {
            @if $i == 1 {
                @each $identifier, $value in $spaces {
                    --space-#{$identifier}: calc(#{nth($rootSizes, $i)} * #{$value});
                } 
            } @else {
                @include breakpoint(#{$breakpoint}) {
                    @each $identifier, $value in $spaces {
                        --space-#{$identifier}: calc(#{nth($rootSizes, $i)} * #{$value});
                    }
                }
            }
        }
    }
} @else {
    @error 'The length of the `$breakpoints` map is different from the length of the `$rootSizes` list.'
    + 'Please make sure that they have the same length.';
}

@each $space, $value in $spaces {

    .margin_#{$space}{
        margin: space($space);
    }

    .padding_#{$space}{
        padding: space($space);
    }

    @each $direction in $directions {

        .margin_#{$direction}_#{$space}{
            margin-#{$direction}: space($space);
        }

        .padding_#{$direction}_#{$space}{
            padding-#{$direction}: space($space);
        }
    }
}

@each $breakpoint, $query in $breakpoints {
    @each $space, $value in $spaces {

        @include breakpoint(#{$breakpoint}) {

            .margin_#{$breakpoint}_#{$space}{
                margin: space($space);
            }
    
            .padding_#{$breakpoint}_#{$space}{
                padding: space($space);
            }
        }
    
        @each $direction in $directions {
            @include breakpoint(#{$breakpoint}) {
                
                .margin_#{$direction}_#{$breakpoint}_#{$space}{
                    margin-#{$direction}: space($space);
                }
    
                .padding_#{$direction}_#{$breakpoint}_#{$space}{
                    padding-#{$direction}: space($space);
                }
            }
        }
    }
}

.padding {
    padding: space(9);

    @include breakpoint('lg') {
        padding: space(11);
    }

    @each $direction in $directions {
        &_#{$direction} {
            padding-#{$direction}: space(9);

            @include breakpoint('lg') {
                padding-#{$direction}: space(11);
            }
        }
    }

    @each $direction in $directions {
        &_no#{$direction} {
            padding-#{$direction}: 0;
        }
    }

    @each $breakpoint, $query in $breakpoints {
        @each $direction in $directions {
            &_no#{$direction}_#{$breakpoint} {
                padding-#{$direction}: 0;
            }
        }
    }
}