.input {

    & + .input {
        margin-top: space(9);
    }

    &[data-error=true] {

        [class^='txt_'] {
            color: color(status, error);
        }

        input {
            border-bottom: solid 1px color(status, error);
        }
    }
    
}