.dropdown {
  display:flex;
  align-items: center;

  .title {
    font-family: $interSemiBold;
    color: $grey2;
    margin-right: 10px;
    white-space: nowrap;
  }

  .select {
    display:flex;
    flex-direction: column;
    position: relative;
    border: 1px solid $bgGrey;
    box-shadow: $shadowheader;
  }

}
