.tag {
  padding: 4px;
  border-radius: 4px;
  display: inline-block;
  background-color: $greyLight;

  p {
    font-family: $interSemiBold;
  }
}

.is-green {
  background: $bgGreen;

  p {
    color: $green;
  }
}

.is-orange {
  background: $bgOrange;

  p {
    color: $orange;
  }
}
