.list {
  .number {
    margin-bottom: 5px !important;
  }

  .items-list {
    .item {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;

      &-title {
        text-decoration: underline;
        margin-bottom: 5px;
      }

      &-subtitle {
        font-size: 12px !important;
        line-height: 16px !important;
        font-family: $interRegular !important;
        color: $grey5 !important;
      }
    }
  }
}
