.list {
  .number {
    margin-bottom: 5px !important;
  }

  .items-list {
    .item {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;

      &-title {
        text-decoration: underline;
      }

      &-file {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        padding-left: 15px;
        margin-top: 15px;
      }

      &-fileName {
        text-decoration: underline;
        font-size: 12px !important;
        line-height: 16px !important;
        font-family: $interSemiBold !important;
        margin-bottom: 3px;
      }

      &-subtitle {
        font-size: 12px !important;
        line-height: 16px !important;
        font-family: $interRegular !important;
        color: $grey5 !important;
      }
    }
  }
}
