.input {
  margin-bottom: 30px;
  position: relative;

  &.error {
    input {
      border: 1px solid $red;
    }
  }

  .label {
    font-family: $interSemiBold;
    margin-bottom: 6px;
  }

  input {
    border: 1px solid $greyLight;
    padding: 16px;
    border-radius: 4px;
    width: 100%;

    @include transition(border .5s $easeOutQuad);

    &::placeholder {
      color: $grey2;
    }
  }

  &__error {
    position: absolute;
    top: 100%;
    color: $red;
    padding-top: 5px;
    font-size: 12px;
  }
}
